In [1]:
import pandas as pd
import numpy as np

In [10]:
users = pd.read_csv('experiment_data/LLM/behaviors_user1000_ns4_cdNone.tsv', sep='\t', names=['User', 'History', 'Train'])

In [11]:
users

,User,History,Train
0,1,"N2,2017-01-15 08:00:03;N2445,2017-01-16 00:17:...",N22972 N23125 N22921 N22933 N23124 N22975 N234...
1,1,"N2,2017-01-15 08:00:03;N2445,2017-01-16 00:17:...",N23283 N23035 N23392 N23085 N23019 N23139 N242...
2,1,"N2,2017-01-15 08:00:03;N2445,2017-01-16 00:17:...",N24116 N23996 N23929 N24088 N23938 N24098 N239...
3,1,"N2,2017-01-15 08:00:03;N2445,2017-01-16 00:17:...",N24109 N23978 N23909 N24075 N23922 N24087 N239...
4,1,"N2,2017-01-15 08:00:03;N2445,2017-01-16 00:17:...",N23981 N23923 N23847 N23779 N23809 N23952 N239...
...,...,...,...
10984,1000,"N10,2017-01-15 08:19:06;N2381,2017-01-16 00:57...",N23865 N23686 N23708 N23816 N23728 N23865 N240...
10985,1000,"N10,2017-01-15 08:19:06;N2381,2017-01-16 00:57...",N24231 N24195 N24231 N24049 N24160 N24059 N241...
10986,1000,"N10,2017-01-15 08:19:06;N2381,2017-01-16 00:57...",N24232 N24125 N24046 N23986 N24001 N24078 N241...
10987,1000,"N10,2017-01-15 08:19:06;N2381,2017-01-16 00:57...",N24127 N24042 N23948 N24098 N23962 N24116 N240...
10988,1000,"N10,2017-01-15 08:19:06;N2381,2017-01-16 00:57...",N24295 N24256 N24160 N24162 N24293 N24225 N242...